<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>云鹿会展 - 经典案例</title>
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../common/css/reset.css">
		<link rel="stylesheet" href="showCase.css">
		<link rel="stylesheet" href="../headBar/headBar.css">
		<link rel="stylesheet" href="../sideBar/sideBar.css">
		<link rel="stylesheet" href="../bottom/bottom.css">
		<link rel="shortcut icon" href="../../static/images/icon.png">
		<script src="../../static/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="showCase.js"></script>
		<script src="../headBar/headBar.js"></script>
		<script src="../sideBar/sideBar.js"></script>
		<script src="../bottom/bottom.js"></script>
	</head>

	<body>
		<div class="wrap">
			<div id="headBar"></div>
			<div class="Homedecoration">
				<div class="Homedecoration1">
					<p>当前位置 :&ensp;
						<a href="">首页</a> >&ensp;
						<a href="">经典案例</a>
					</p>
					<div class="fenlei">
						<div class="category">
							<p>目前案例有以下分类</p>
							<ul>
								<li>教育展</li>
								<li>农业展</li>
								<li>儿童展</li>
								<li>科技展</li>
								<li>召开会议</li>
								<li>举办年会</li>
								<li>新品发布会</li>
								<li>公安展</li>
								<li>玩具展</li>
								<li>汽配(车)展</li>
								<li>环保展</li>
								<li>其它</li>
							</ul>
						</div>
					</div>
					<div class="content first_content">
						<div>
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase1.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/1-1.jpg"></div>
								<div>
									<h4>2017年03月常兴纸业在展览</h4><span>位置:苏州</span>
									<div><span>所属系列营销活动</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase2.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/2-2.jpg"></div>
								<div>
									<h4>2017年10月联邦动保</h4><span>位置:苏州</span>
									<div><span>所属系列产品发布会</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase3.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/3-3.jpg"></div>
								<div>
									<h4>2017年10月青苗荟幼儿园解决方案展览</h4><span>位置:苏州</span>
									<div><span>所属系列产品发布会</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase4.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/4-4.jpg"></div>
								<div>
									<h4>2017年10月欧林美帝展览会</h4><span>位置:苏州</span>
									<div><span>所属系列产品发布会</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase5.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/5-5.jpg"></div>
								<div>
									<h4>2017年11月自然树国际教育</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="../../static/images/showCase_img/Class/CassicalCase6.jpg"></a>
							<div>
								<div><img src="../../static/images/showCase_img/6-6.jpg"></div>
								<div>
									<h4>2017年11月阳光雨露会展</h4><span>位置:苏州</span>
									<div><span>所属系列召开会议</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase7.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/7-7.jpg"></div>
								<div>
									<h4>2017年12月誉成流体展览</h4><span>位置:苏州</span>
									<div><span>所属系列新品发布</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase8.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/8-8.jpg"></div>
								<div>
									<h4>2017年12月农信互联展览会</h4><span>位置:深圳</span>
									<div><span>所属系列科技展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase9.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/9-9.jpg"></div>
								<div>
									<h4>2017年12月富春雅居提产展览会</h4><span>位置:苏州</span>
									<div><span>所属系列房地产</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase10.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/10-10.jpg"></div>
								<div>
									<h4>2017年12月金英展览会</h4><span>位置:苏州</span>
									<div><span>所属系列展览会</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase11.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/11-11.jpg"></div>
								<div>
									<h4>2017年北京银座教育展览</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<d class="loading"></d>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase12.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/12-12.jpg"></div>
								<div>
									<h4>2017年自然树国际教育集团</h4><span>位置:上海</span>
									<div><span>所属系列艺术策划</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase13.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/12-12.jpg"></div>
								<div>
									<h4>2017年加怡儿童木业展览</h4><span>位置:上海</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase14.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/11-11.jpg"></div>
								<div>
									<h4>2017年户森教育展览</h4><span>位置:深圳</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase15.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/10-10.jpg"></div>
								<div>
									<h4>2017年8月德麦森贝壳粉展览</h4><span>位置:苏州</span>
									<div><span>所属系列艺术策划</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase16.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/9-9.jpg"></div>
								<div>
									<h4>幼儿园新风专家-泽风</h4><span>位置:苏州</span>
									<div><span>所属系列新品发布会</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase17.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/8-8.jpg"></div>
								<div>
									<h4>户森教育展览</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase18.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/7-7.jpg"></div>
								<div>
									<h4>2016年10月教育展亿童</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase19.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/6-6.jpg"></div>
								<div>
									<h4>2016年8月保利地产展览</h4><span>位置:苏州</span>
									<div><span>所属系列其它</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/Class/CassicalCase20.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/5-5.jpg"></div>
								<div>
									<h4>2016年10月艾吉威展览</h4><span>位置:苏州</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2016-10-joyshow_kl.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/4-4.jpg"></div>
								<div>
									<h4>2016年10月Classic玩具展览</h4><span>位置:苏州</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2016-11-lingshou-meeting2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/3-3.jpg"></div>
								<div>
									<h4>2016年11月零售商大会</h4><span>位置:苏州</span>
									<div><span>所属系列召开会议</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2016-04-hahaball3.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/2-2.jpg"></div>
								<div>
									<h4>2016年哈哈球4月广州</h4><span>位置:广州</span>
									<div><span>所属系列儿童展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-03-SIEE-spring.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/1-1.jpg"></div>
								<div>
									<h4>2017年3月SIEE春芽子</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-03-SIEE-mid-education.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/1-1.jpg"></div>
								<div>
									<h4>2017年3月SIEE中幼教育</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-03-SIEE-gf-education.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/2-2.jpg"></div>
								<div>
									<h4>2017年3月SIEE芳草教育</h4><span>位置:上海</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-03-SIEE-klst2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/3-3.jpg"></div>
								<div>
									<h4>2017年3月上海SIEE克莱斯特展位</h4><span>位置:上海</span>
									<div><span>所属系列其它</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-05-beijing-OTTO1.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/4-4.jpg"></div>
								<div>
									<h4>2017年5月北京幼教展大地</h4><span>位置:北京</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-04-school-uniform.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/5-5.jpg"></div>
								<div>
									<h4>2017年4月校服展春芽子</h4><span>位置:上海</span>
									<div><span>所属系列儿童展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-04-guangzhou.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/6-6.jpg"></div>
								<div>
									<h4>2017年4月广州活动</h4><span>位置:上海</span>
									<div><span>所属系列其它</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-05-beijing-dnts.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/7-7.jpg"></div>
								<div>
									<h4>2017年5月北京教育展丹妮天使</h4><span>位置:北京</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-05-snwh2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/8-8.jpg"></div>
								<div>
									<h4>2017年5月幼教展释诺文化</h4><span>位置:苏州</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-07-CBME-hmbb2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/9-9.jpg"></div>
								<div>
									<h4>2017年7月CBME海绵宝宝</h4><span>位置:上海</span>
									<div><span>所属系列儿童展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-08-jiameng-bbdd.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/10-10.jpg"></div>
								<div>
									<h4>2017年8月加盟展巴布朵朵</h4><span>位置:上海</span>
									<div><span>所属系列加盟展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-08-jiameng-tea.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/11-11.jpg"></div>
								<div>
									<h4>2017年8月加盟展巡茶</h4><span>位置:上海</span>
									<div><span>所属系列加盟展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-nanjing-internet.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/12-12.jpg"></div>
								<div>
									<h4>2017年10月南京互联网展会</h4><span>位置:南京</span>
									<div><span>所属系列科技展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-09-wuxi-mobike.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/12-12.jpg"></div>
								<div>
									<h4>2017年9月无锡物联网 摩拜单车</h4><span>位置:无锡</span>
									<div><span>所属系列科技展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-yfnd.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/11-11.jpg"></div>
								<div>
									<h4>2017年10月体育中心英菲尼迪</h4><span>位置:苏州</span>
									<div><span>所属系列汽(配)车展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-nanjing-police.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/10-10.jpg"></div>
								<div>
									<h4>2017年10月南京公安展顺泰交通</h4><span>位置:南京</span>
									<div><span>所属系列公安展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-ningbo-house.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/9-9.jpg"></div>
								<div>
									<h4>2017年10月宁波房产活动</h4><span>位置:宁波</span>
									<div><span>所属系列房展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-chengdu-resource.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/8-8.jpg"></div>
								<div>
									<h4>2017年10月成都新能源展</h4><span>位置:成都</span>
									<div><span>所属系列科技展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-wuxi-shaoshang-meeting.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/7-7.jpg"></div>
								<div>
									<h4>2017年10月无锡烧伤会议维斯第</h4><span>位置:无锡</span>
									<div><span>所属系列召开会议</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-joy-bocong2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/6-6.jpg"></div>
								<div>
									<h4>2017年10月玩具展博聪</h4><span>位置:苏州</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-joy-mwsj3.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/5-5.jpg"></div>
								<div>
									<h4>2017年10月玩具展木玩世家</h4><span>位置:苏州</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-joy-agdm.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/4-4.jpg"></div>
								<div>
									<h4>2017年10月玩具展奥光动漫</h4><span>位置:广州</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-nongye2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/3-3.jpg"></div>
								<div>
									<h4>2017年11月农业展</h4><span>位置:常州</span>
									<div><span>所属系列农业展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-xiamen-education.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/2-2.jpg"></div>
								<div>
									<h4>2017年11月厦门幼教展</h4><span>位置:幼教展</span>
									<div><span>所属系列儿童展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-xibo-meeting.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/1-1.jpg"></div>
								<div>
									<h4>2017年10月西博会</h4><span>位置:深圳</span>
									<div><span>所属系列召开会议</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-clouddeer.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/1-1.jpg"></div>
								<div>
									<h4>2017年11月教育展云鹿展台</h4><span>位置:苏州</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-gao2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/2-2.jpg"></div>
								<div>
									<h4>2017年11月教育展国澳</h4><span>位置:广州</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-education-baoli2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/3-3.jpg"></div>
								<div>
									<h4>2017年11月教育展宝利来</h4><span>位置:上海</span>
									<div><span>所属系列教育展家</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-education-star.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/4-4.jpg"></div>
								<div>
									<h4>2017年11月教育展星芒</h4><span>位置:深圳</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-11-education-tree1.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/5-5.jpg"></div>
								<div>
									<h4>2017年11月教育展自然树</h4><span>位置:广州</span>
									<div><span>所属系列教育展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-liaoning-nongye2.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/6-6.jpg"></div>
								<div>
									<h4>2017年农业展辽宁省</h4><span>位置:辽宁</span>
									<div><span>所属系列农业展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-nanjing-lwkj.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/7-7.jpg"></div>
								<div>
									<h4>2017年南京10月文博会蓝网科技</h4><span>位置:南京</span>
									<div><span>所属系列科技展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-ningbo-fjh.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/8-8.jpg"></div>
								<div>
									<h4>2017年宁波房交会</h4><span>位置:宁波</span>
									<div><span>所属系列房展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/zhhb3.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/9-9.jpg"></div>
								<div>
									<h4>环卫展-中荷环保</h4><span>位置:上海</span>
									<div><span>所属系列环保展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-joy-mwsj1.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/10-10.jpg"></div>
								<div>
									<h4>2017年深圳5月木玩世家</h4><span>位置:深圳</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mid_div">
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-10-joy-mwsj4.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/11-11.jpg"></div>
								<div>
									<h4>2017年广州6月木玩世家</h4><span>位置:广州</span>
									<div><span>所属系列玩具展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a><img src="" lasyload-src="../../static/images/showCase_img/exhibition/2017-07-CBME-hmbb5.jpg"></a>
							<div>
								<div><img src="" lasyload-src="../../static/images/showCase_img/12-12.jpg"></div>
								<div>
									<h4>2017年3月上海多多萌展</h4><span>位置:上海</span>
									<div><span>所属系列儿童展</span>
										<button>查看详情</button>
										<button>预约设计</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fenye">
						<ul>
							<li class="no">上一页</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li class="no">下一页</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="sideBar"></div>
			<div id="bottom"></div>
		</div>
		<!--懒加载js要放在body中-->
		<script type="text/javascript">
			var aImg = document.querySelectorAll('img');
			var len = aImg.length;
			// var n = 0;//存储图片加载到的位置，避免每次都从第一张图片开始遍历
			window.onscroll = function() {
				var seeHeight = document.documentElement.clientHeight;
				var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
				//     //触发时机是滑动页面，不需要的不用设置懒加载
				// for (var i = n; i < len; i++) {
				// 部分图片优先加载，部分等滑动再加载
				for(var i = 6; i < 24; i++) {
					if(aImg[i].offsetTop < seeHeight + scrollTop) {
						if(aImg[i].getAttribute('src') == '') {
							aImg[i].src = aImg[i].getAttribute('lasyload-src');

						}
					}
				}
				//         if (aImg[i].getAttribute('src') == '') {
				//             aImg[i].src = aImg[i].getAttribute('lasyload-src');
				//         }
				//         n = i + 1;
				//         console.log('n = ' + n);
				//     }

			};
			// 进来默认是点击第一页，第一页不需要懒加载;
			// 第一页: 0-23
			// 第二页: 24-47
			// 第三页: 48-71
			// 第四页: 72-95
			// 第五页: 96-119
			// 第六页: 120-143
			// 第七页: 144-167
			//触发时机换成点击当前页  这里可以优化
			$('.fenye ul li').eq(1).click(function() { //单机2
				for(var i = 0; i < 24; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
			$('.fenye ul li').eq(2).click(function() { //单机3
				for(var i = 24; i < 48; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
			$('.fenye ul li').eq(3).click(function() { //单机4
				for(var i = 48; i < 72; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
			$('.fenye ul li').eq(4).click(function() { //单机5
				for(var i = 72; i < 96; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
			//暂时没那么多
			$('.fenye ul li').eq(5).click(function() { //单机6
				for(var i = 96; i < 120; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
			$('.fenye ul li').eq(6).click(function() { //单机下一页
				for(var i = 24; i < 120; i++) {
					if(aImg[i].getAttribute('src') == '') {
						aImg[i].src = aImg[i].getAttribute('lasyload-src');

					}
				}
			});
		</script>
	</body>
	<script type="text/javascript">
		$(function() {
			$("#headBar").load("../headBar/headBar.html");
			$("#sideBar").load("../sideBar/sideBar.html");
			$("#bottom").load("../bottom/bottom.html");
		})
	</script>

</html>