<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="chinaz-site-verification" content="5fc0db50-a0ac-45b9-8e05-2973b66af376" />
		<title>云鹿会展 - 展馆介绍</title>
		<meta name="keywords" content="1苏州展览公司_苏州会展服务公司_苏州展览设计_苏州展台搭建公司_展位设计搭建_苏州展厅装饰装潢_展厅空间设计_户外搭建制作_苏州活动设计搭建_活动策划搭建制作_活动会议人员主持_舞台会场布置_会议会务公关接待_云鹿会展,无锡、昆山、南京、连云港、苏州、江苏展览公司,搭建公司,特装展设计搭建">
		<link rel="shortcut icon" href="../../static/images/icon.png" />
		<link rel="bookmark" href="../../static/images/icon.png"/>
		<link rel="stylesheet" href="../../common/css/reset.css">
		<link rel="stylesheet" href="../headBar/headBar.css">
		<link rel="stylesheet" type="text/css" href="pavilionIntroduce.css"/>
		<link rel="stylesheet" href="../bottom/bottom.css">
		<script src="../../static/js/jquery-3.2.1.min.js"></script>
		<script src="../headBar/headBar.js"></script>
		<script src="pavilionIntroduce.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bottom/bottom.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div id="headBar"></div>
			<script>
				$("#headBar").load("../headBar/headBar.html");
			</script>
			<div class="pavilionPage">
				<div class="provinceList">
					<div><img src="../../static/images/province/jiangsu.jpg"/><span>江苏</span></div>
					<div><img src="../../static/images/province/zhejiang.jpg"/><span>浙江</span></div>
					<div><img src="../../static/images/province/shanghai.jpg"/><span>上海</span></div>
				</div>
				
				
				
				
			</div>
			
			<div id="bottom"></div>
		</div>
	</body>
	<script type="text/javascript">
		$("#bottom").load("../bottom/bottom.html");
	</script>
</html>
