<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<!--适配移动端固定宽度-->
		<meta name="viewport" content="width=1200px, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="chinaz-site-verification" content="5fc0db50-a0ac-45b9-8e05-2973b66af376" />
		<title>云鹿会展 - 用技术去生存-用艺术去生活</title>
		<meta name="description" content="云鹿会展服务公司致力于全球会展服务，展览设计搭建一站式服务：会务策划执行,主题活动搭建制作、全球展览布展设计、展台设计制作、展台设计搭建、展台设计装潢、展览展示设计、活动现场设计制作、展览展示设计、展会布置布展、展会现场服务、特装标摊搭建、展会庆典搭建、展厅设计装潢、展厅装修设计、店铺装修装潢、展位特装装潢、展示搭建工厂、展览装修工厂、展位展台搭建公司、展位装修布展、展览会场整体布置与承建、展览搭建公司、展台布置搭建、会展服务公司,展台设计搭建,展览设计公司,展会搭建制作,展会布置制作,展会制作搭建、企业展厅的设计与制作、展览装饰工程、展位特装制作，展台设计搭建、装修工程搭建、展区设计规划、展位布置装潢、展厅设计装修、特装布展装潢、展位整体设计制作、展区规划布展、展区布展装潢，公司为客户提供：企业展厅、品牌展览、博物馆、规划馆、创意展台设计搭建、展台特装搭建、形象展览、多媒体互动展览、科技馆、陈列馆、美陈公司设计与建造；展会特装展台设计及施工；展览会、博览会、展销会、学术会议、商业店面设计装修、品牌专柜的设计施工；会议活动、礼仪庆典、巡回展览的策划及实施等服务。 我们拥有一批高素质的施工团队及各专业设计师和策划团队。
并且是国内多家展览组织成员，并与众多地方级主办单位建立了密切的合作伙伴关系，实现了活动承办、展台搭建布置、展台设计布展、展厅装修装潢、礼仪模特演出服务、品牌展览、会展规划、会议活动、公关活动策划,巡回展,大型晚会规划、展区建设广告制作等一站式服务。
展示设计是一门综合艺术设计，它的主体为商品。展示空间是伴随着人类社会政治、经济的阶段性发展逐渐形成的。在既定的时间和空间范围内，运用艺术设计语言，通过对空间与平面的精心创造，使其产生独特的空间范围，不仅含有解释展品宣传主题的意图，并使观众能参与其中，达到完美沟通的目的，这样的空间形式，我们一般称之为展示空间。对展示空间的创作过程，我们称之为展示设计。">
		<!--<meta name="keywords" content="展台搭建公司,展台设计,展览设计搭建,会展搭建服务,苏州展览公司,展位搭建设计,无锡、昆山、南京、连云港、苏州、江苏展览公司,搭建公司,特装展设计搭建">-->
		<meta name="keywords" content="1苏州展览公司_苏州会展服务公司_苏州展览设计_苏州展台搭建公司_展位设计搭建_苏州展厅装饰装潢_展厅空间设计_户外搭建制作_苏州活动设计搭建_活动策划搭建制作_活动会议人员主持_舞台会场布置_会议会务公关接待_云鹿会展,无锡、昆山、南京、连云港、苏州、江苏展览公司,搭建公司,特装展设计搭建">
		<link rel="shortcut icon" href="../../static/images/icon.png" />
		<link rel="bookmark" href="../../static/images/icon.png"/>
		<link rel="stylesheet" href="../../common/css/reset.css">
		<link rel="stylesheet" href="homePage.css">
		<link rel="stylesheet" href="../headBar/headBar.css">
		<link rel="stylesheet" href="../sideBar/sideBar.css">
		<link rel="stylesheet" href="../bottom/bottom.css">
		<!--插件及功能css-->
		<link rel="stylesheet" href="../../static/css/swiper.min.css">
		<script src="../../static/js/jquery-3.2.1.min.js"></script>
		<!--<script src="../../static/js/bootstrap.min.js"> </script>-->
		<!--主要页面js-->
		<script src="homePage.js"></script>
		<script src="../headBar/headBar.js"></script>
		<script src="../sideBar/sideBar.js"></script>
		<script src="../bottom/bottom.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rHoTIYVCbXzHU29y3BYTXWs7sLkv4aQH"></script>
	</head>

	<body>
		<div class="wrap">
			<!--头部导航-->
			<div id="headBar"></div>
			<script>
				$("#headBar").load("../headBar/headBar.html");
			</script>
			<div class="HomePage">
				<!--轮播-->
				<div class="swiper-container IndexSwiper w1200">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb1.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb2.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb3.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb4.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb5.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb6.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb7.jpg" />
						</div>
						<div class="swiper-slide">
							<img src="../../static/images/HomePage/Lb8.jpg" />
						</div>
					</div>
					<!-- 按钮 -->
					<!--<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>-->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="HomePage">
				<div class="w1200">
					<div class="YLTitle">
						<div class="title">
							<a>新闻动态</a>
						</div>
						<p><span></span></p>
						<em>NEWS</em>
					</div>
					<div class="HomeNews">
						<div>
							<li>
								<span>2018-01-09 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=840" target="_Blank" title="苏州新时代文体会展集团成立 促文化、体育、会展、商旅产业融合发展">苏州新时代文体会展集团成立 促文化、体育、会展、商旅产业融合发展</a>
							</li>
							<li><span>2017-07-05 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=837" target="_Blank" title="建立合作同盟机制，探索场馆发展新模式 苏州国际博览中心举办2017会展场馆高峰会">建立合作同盟机制，探索场馆发展新模式 苏州国际博览中心举办2017会展场馆高峰会</a>
							</li>
							<li><span>2017-05-26 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=835" target="_Blank" title="做实、做深会展产业服务 打造苏州会议产业发展风向标">做实、做深会展产业服务 打造苏州会议产业发展风向标</a>
							</li>
							<li><span>2017-05-26 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=834" target="_Blank" title="跻身全国会展业第一方阵 苏州首次入围“全球会议目的地”中国前十">跻身全国会展业第一方阵 苏州首次入围“全球会议目的地”中国前十</a>
							</li>
							<li><span>2017-03-20 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=833" target="_Blank" title="聚焦工业盛典 点亮工业之光 第十四届苏州国际工业博览会今起聚力呈现">聚焦工业盛典 点亮工业之光 第十四届苏州国际工业博览会今起聚力呈现</a>
							</li>
						</div>
						<div>
							<li><span>2017-03-08 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=832" target="_Blank" title="苏州文化博览中心2017春节营业时间">苏州文化博览中心2017春节营业时间</a>
							</li>
							<li><span>2017-01-25 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=831" target="_Blank" title="建立合作同盟机制，探索场馆发展新模式 苏州国际博览中心举办2017会展场馆高峰会">建立合作同盟机制，探索场馆发展新模式 苏州国际博览中心举办2017会展场馆高峰会</a>
							</li>
							<li><span>2017-01-20 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=830" target="_Blank" title="携手逐梦、再创辉煌 文博中心召开2016年度工作总结暨表彰大会">携手逐梦、再创辉煌 文博中心召开2016年度工作总结暨表彰大会</a>
							</li>
							<li><span>2016-12-14 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=826" target="_Blank" title="园区市场监督管理局到文博中心走访调研">园区市场监督管理局到文博中心走访调研</a>
							</li>
							<li><span>2016-08-30 </span>
								<a href="http://www.suzhouexpo.com/worddisp.asp?id=814" target="_Blank" title="博览中心喜获“2015-2016年度中国会展标志性场馆”殊荣！">博览中心喜获“2015-2016年度中国会展标志性场馆”殊荣！</a>
							</li>
							<span><a href="http://www.suzhouexpo.com/news.asp?ny=2017" target="_Blank" title="更多">更多</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="HomePage">
				<div class="w1200">
					<div class="YLTitle">
						<div class="title">
							<a>公司简介</a>
						</div>
						<p><span></span></p>
						<em>COMPANY PROFILE</em>
					</div>
					<div class="HomeComp">
						<div class="place">
							<p class="title">公司全名</p>
							<p>云鹿展览展示（苏州）有限公司</p>
							<p class="title">公司详细地址</p>
							<p>苏州工业园区东平街262号超擎大厦三层310室</p>
							<p class="title">公司常用联系方式</p>
							<p>手机: 18014008518</p>
							<p>电话: 0512-62993018</p>
						</div>
						<div class="news" id="allmap"></div>
					</div>
				</div>
			</div>
			<!--侧边栏-->
			<div id="sideBar"></div>
			<div class="HomePage">
				<div class="w1200 ContactUs">
					<div class="YLTitle">
						<div class="title">
							<a>案例展示</a>
						</div>
						<p><span></span></p>
						<em>CASE SHOW</em>
					</div>
					<div class="swiper-container AnLiSwiper">
						<div class="swiper-wrapper">
							<!--id="lasy" style="" lasyload--->
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli1.jpg)">
								<!--<p>2016年哈哈球7月上海展</p>-->
							</div>
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli2.jpg)">
								<!--<p>2016年8月加盟展蛙来哒</p>-->
							</div>
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli3.jpg)">
								<!--<p>2017年3月SIEE春芽子</p>-->
							</div>
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli4.jpg)">
								<!--<p>2017年5月幼教展释诺文化</p>-->
							</div>
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli5.jpg)">
								<!--<p>2017年10月无锡烧伤会议维斯第</p>-->
							</div>
							<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli6.jpg)">
								<!--<p>2017年南京10月文博会蓝网科技</p>-->
							</div>
							<!--<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli7.jpg)">
								<p>2017年12月玩转科技</p>
							</div>-->
							<!--<div class="swiper-slide" style="background-image:url(../../static/images/HomePage/Anli8.jpg)">
								<p>2017年深圳百度手机活动</p>
							</div>-->
							<!--<div class="swiper-slide GoShowCase" style="background-image:url(../../static/images/mohu.jpg)">更多案例</div>-->
						</div>
						<div class="swiper-pagination AnLiPagination"></div>
					</div>
				</div>
			</div>
			<div id="sideBar"></div>
			<div class="HomePage">
				<div class="w1200">
					<div class="YLTitle">
						<div class="title">
							<a>服务理念</a>
						</div>
						<p><span></span></p>
						<em>用我们真诚的微笑，换取客户对我们服务的满意</em>
					</div>
				</div>
			</div>
			<div class="HomePage" style="background-color: #555;">
				<div class="w1200 ContactUs">
					<div class="ServerIdea">
						<div>
							<div>
								<img src="" lasyload-src="../../static/images/ico_01.png" />
							</div>
							<p>专家团队为您解决需求</p>
						</div>
						<div>
							<div>
								<img src="" lasyload-src="../../static/images/ico_02.png" />
							</div>
							<p>多角度详细分析展览效果</p>
						</div>
						<div>
							<div>
								<img src="" lasyload-src="../../static/images/ico_03.png" />
							</div>
							<p>多种展现方式供您选择</p>
						</div>
						<div>
							<div>
								<img src="" lasyload-src="../../static/images/ico_04.png" />
							</div>
							<p>完备的售后服务体系</p>
						</div>
					</div>
				</div>
			</div>
			<div class="HomePage">
				<div class="w1200">
					<div class="YLTitle">
						<div class="title">
							<a>合作伙伴</a>
						</div>
						<p><span></span></p>
						<em>COOPERATIVE PARTNER</em>
					</div>
					<div class="HomeComp" style="height: 680px;overflow: hidden;">
						<img style="height: 100%;margin-top: -70px;" src="../../static/images/LogoWall.jpg" />
					</div>
				</div>
			</div>
			<!--底部信息栏-->
			<div id="bottom"></div>
		</div>

		<!--懒加载js要放在body中-->
		<script>
			var aImg = document.querySelectorAll('img');
			console.log(aImg);
			// var aDiv = [];
			var aDiv = document.querySelectorAll('#lasy');
			// var b = document.querySelectorAll('#lasy2');
			// console.log(a);
			// aDiv.push(a[0]);
			// aDiv.push(b[0]);
			// console.log(aDiv);
			// var len = aImg.length;
			// var n = 0;//存储图片加载到的位置，避免每次都从第一张图片开始遍历
			window.onscroll = function() {
				var seeHeight = document.documentElement.clientHeight;
				var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
				//     //触发时机是滑动页面，不需要的不用设置懒加载
				// for (var i = n; i < len; i++) {
				// 部分图片优先加载，部分等滑动再加载

				for(var i = 8; i < 12; i++) {
					if(aImg[i].offsetTop < seeHeight + scrollTop) {
						if(aImg[i].getAttribute('src') == '') {
							aImg[i].src = aImg[i].getAttribute('lasyload-src');

						}
					}
				}

				// for(var i = 0; i < 1; i++){
				//
				//  if (aDiv[i].getAttribute('style')!= ''){
				// 	 // console.log('进来了');
				// 	 aDiv[i].style = aDiv[i].getAttribute('lasyload-style');
				//  }
				// }

			};
			// var aDiv = document.getElementsByClassName('swiper-slide lasy');
			// console.log(aDiv)
			// var len = aDiv.length;
			// // console.log(len);
			// // var n = 0;//存储图片加载到的位置，避免每次都从第一张图片开始遍历
			// window.onscroll = function() {
			//     var seeHeight = document.documentElement.clientHeight;
			//     var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
			//     // console.log(scrollTop)
			//     //     //触发时机是滑动页面，不需要的不用设置懒加载
			//     // for (var i = n; i < len; i++) {
			//     // 部分图片优先加载，部分等滑动再加载
			//
			//     for (var i = 0; i < 1; i++) {
			//         if (scrollTop >1100) {
			//             console.log('执行了')
			//             if (aDiv[i].getAttribute('style') == '') {
			//                 aDiv[i].src = aImg[i].getAttribute('lasyload-style');
			//
			//             }
			//         }
			//     }

			// };
		</script>
	</body>
	<script src="../../static/js/swiper-4.1.0.min.js"></script>
	<script>
		var homeSwiper = new Swiper('.IndexSwiper', {
			pagination: {
				el: '.swiper-pagination',
			},
			autoplay: {
				stopOnLastSlide: true,
			},
			effect: 'fade',
			loop: true,
			//			navigation: {
			//				nextEl: '.swiper-button-next',
			//				prevEl: '.swiper-button-prev',
			//				hideOnClick: false,
			//			},
		});
		var AnLiswiper = new Swiper('.AnLiSwiper', {
			slidesPerView: 3,
			spaceBetween: 30,
			slidesPerGroup: 3,
			loop: true,
			loopFillGroupWithBlank: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});

		//		var AnLiswiper = new Swiper('.AnLiSwiper', {
		//			effect: 'coverflow',
		//			grabCursor: true,
		//			centeredSlides: true,
		//			slidesPerView: 'auto',
		//			autoplay: {
		//				stopOnLastSlide: true,
		//			},
		//			coverflowEffect: {
		//				rotate: 50,
		//				stretch: 0,
		//				depth: 100,
		//				modifier: 1,
		//				slideShadows: true,
		//			},
		//			pagination: {
		//				el: '.AnLiPagination',
		//			},
		//		});
		$("#sideBar").load("../sideBar/sideBar.html");
		$("#bottom").load("../bottom/bottom.html");
	</script>

</html>