<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sideBar</title></head>
<body>
<div class="sideBar">
    <li><a href="#"><img style="width: 25px;height: 25px;" src="../../static/images/gotop.png"></a></li>
    <li class="qr_code"><img src="../../static/images/weixin.png">
        <div><img src="../../static/images/qr_code.jpg"></div>
    </li>
    <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/homePage/homePage.html"><img
            style="width: 30px;height: 30px;border-radius: 50%;" src="../../static/images/icon.png"></a></li>
</div>
</body>
</html>