<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云鹿会展 - 关于我们</title>
    <meta name="viewport"
          content="width=1200px, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="../../static/images/icon.png">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="aboutUs.css">
    <link rel="stylesheet" href="../headBar/headBar.css">
    <link rel="stylesheet" href="../sideBar/sideBar.css">
    <link rel="stylesheet" href="../bottom/bottom.css">
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rHoTIYVCbXzHU29y3BYTXWs7sLkv4aQH"></script>
    <script src="aboutUs.js"></script>
    <script src="../headBar/headBar.js"></script>
    <script src="../sideBar/sideBar.js"></script>
    <script src="../bottom/bottom.js"></script>
    <script src="../../static/js/swiper-4.1.0.min.js"></script>
</head>
<body>
<div class="wrap">
    <div id="headBar"></div>
    <div class="aboutUs">
        <div class="content"><p>当前位置 :&ensp;<a href="">首页</a> >&ensp;<a href="">关于我们</a></p>
            <div class="HomePage">
                <div class="w1200 ContactUs" style="height: 600px;">
                    <div class="title"><a>公司位置</a></div>
                    <p><span></span></p><em>COMPANY PLACE</em>
                    <div class="place"><p class="title">公司全名</p>
                        <p>云鹿展览展示（苏州）有限公司</p>
                        <p class="title">公司详细地址</p>
                        <p>苏州工业园区东平街262号超擎大厦三层310室</p>
                        <p class="title">公司常用联系方式</p>
                        <p>手机: 18014008518 电话: 0512-62993018</p></div>
                    <div class="news" id="allmap"></div>
                </div>
            </div>
            <div class="HomePage">
                <div class="w1200 ContactUs" style="height: 600px;">
                    <div class="title"><a>公司简介</a></div>
                    <p><span></span></p><em>COMPANY PROFILE</em>
                    <div class="text"><p>云鹿国际会展</p>
                        <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 云鹿展览展示（苏州）有限公司是一家致力于苏州<span>展台设计搭建</span>,苏州展览展示服务，苏州展厅设计装潢，全国展览展示设计，展览装饰工程，展位特装制作，展台设计搭建，装修工程搭建，展区设计规划、展位布置装潢、展厅设计装修、特装布展装潢、展位整体设计制作的专业性展览公司，公司为客户提供：企业展厅、品牌展览、博物馆、规划馆、创意展台
                            、展台特装搭建、形象展览、多媒体互动展览、科技馆、陈列馆、美陈公司设计与建造；展会特装展台设计及施工；展览会、苏州博览会、苏州展销会，苏州学术会议、商业店面、品牌专柜的设计施工；会议活动、礼仪庆典、巡回展览的策划及实施等服务。
                            我们拥有一批高素质的施工团队及各专业设计师和策划团队，并且在
                            <span>上海</span>、<span>南京</span>、<span>北京</span>、<span>成都</span>等多个地区设有分支机构。云鹿展览与您共同携手，创造未来！
                        </div>
                        <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 恭喜云鹿展览展示（苏州）有限公司成为<span>上海SIEE幼教展推荐搭建商</span>！</div>
                    </div>
                    <div class="img swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb1.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb2.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb3.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb4.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb5.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb6.jpg"></div>
                            <div class="swiper-slide"><img src="../../static/images/HomePage/Lb7.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="HomePage">
                <div class="w1200 ContactUs" style="height:740px;">
                    <div class="title"><a>招聘信息</a></div>
                    <p><span></span></p><em>RECRUITMENT INFO</em>
                    <div class="jobhunting"><p><span>招聘岗位:</span><span class="jobname">&ensp;&ensp;展台3D设计师</span></p>
                        <p><span>岗位职责:</span>
                            <div>
                        <p>1、参与公司创意策略的研讨和制定，负责客户品牌的3D展台设计;</p>
                        <p>2、负责公司公众号、网站推广的设计美化及创意性工作，可独立完成各类设计工作;</p>
                        <p>3、可根据公司策划思路和营销概念独立完成个案，充分理解创意意图并准确体现于创意设计中;</p>
                        <p>4、负责3D效果图相关的美工设计方面工作;</p>
                        <p>5、有摄影爱好者优先。</p></div>
                    </p>
                    <p><span>职位要求:</span>
                        <div>
                    <p>1、美术、3D设计相关专业，大学专科及以上学历;</p>
                    <p>2、美术设计相关专业毕业，相关工作经验，熟练使用3DMax 、PHOTOSHOP 、CDR/AI等设计软件;</p>
                    <p>3、具有良好的三维空间感和创新力，思维敏捷,能准确把握客户需求，独立完成设计方案，熟悉各种广告装饰材料;</p>
                    <p>4、较强的组织协调能力，良好的沟通能力及领悟能力，优秀的团队合作，对工作认真负责;</p>
                    <p>5、热爱本职工作，工作细心、责任心强;</p>
                    <p>6、具有较强的理解、领悟能力、工作协调能力和创造力。</p></div>
                </p>
                <p><span>面试地址:</span>
                    <div>
                <p>苏州工业园区东平街262号超擎大厦三层310室</p></div>
            </p>
            <p><span>联系方式:</span>
                <div>
            <p>手机: 18014008518 电话: 0512-62993018</p></div>
        </p></div>
</div>
</div></div></div>
<div id="sideBar"></div>
<div id="bottom"></div>
</div></body>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'cube',
        grabCursor: true,
        cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });


    $("#headBar").load("../headBar/headBar.html");
    $("#sideBar").load("../sideBar/sideBar.html");
    $("#bottom").load("../bottom/bottom.html");

    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(120.7457451011, 31.2708181991), 20);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("苏州");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
</html>