<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云鹿会展 - 服务项目</title>
    <meta name="viewport"
          content="width=1200px, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="../../static/images/icon.png">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="serveProgram.css">
    <link rel="stylesheet" href="../headBar/headBar.css">
    <link rel="stylesheet" href="../sideBar/sideBar.css">
    <link rel="stylesheet" href="../bottom/bottom.css">
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="serveProgram.js"></script>
    <script src="../headBar/headBar.js"></script>
    <script src="../sideBar/sideBar.js"></script>
    <script src="../bottom/bottom.js"></script>
</head>
<body>
<div class="wrap">
    <div id="headBar"></div>
    <div class="serveProgram">
        <div class="content"><p>当前位置 :&ensp; <a href="#">首页</a> >&ensp; <a href="#">服务项目</a></p>
            <div class="news">
                <div class="BigTitle center"><a>服务流程</a>
                    <p><span></span></p><em>SERVICE FLOW</em></div>
                <img src="../../static/images/ServerFlowImg.jpg">
                <div class="BigTitle center" style="margin-top: 50px;"><a>展览设计与搭建</a>
                    <p><span></span></p><em>EXHIBITION DESIGN AND CONSTRUCTION</em></div>
                <div class="design"><p class="tIndent">
                    展示设计是一门综合的设计艺术，是一种实用的、以视觉艺术为主的空间设计。是一种对观众的心理、思想和行为产生影响的创造性设计活动。通过在会议、展览会、博览会活动中，利用空间环境，采用建造、工程、视觉传达手段，借助展具设施，将要传播的信息和内容呈现在公众面前。</p>
                    <p class="tIndent">
                        参展单位必须明白展览设计是展览工作的重要组成部分，但不是展览工作的全部；必须明白展览设计本不是展出的目的，而只是达到展出目的的手段；必须明白展览艺术就是用具体手段表现抽象的展览意图，而后不能因艺术抹杀展出功能。一个完美的展览设计会给整个展出带来意想不到的效果，起到出奇制胜的作用。我们认为一个好的展览设计必须遵循五大原则:</p>
                    <p class="blod tIndent">1.目的性原则</p>
                    <p class="tIndent">展览策划起始于展览目标的选择，落实于展览目标的实现，体现在每一个设计的细节。遵循目的性原则，设计人员应处理好以下关系：</p>
                    <div style="padding-left: 20px;">（1）处理好参展企业和设计者的关系<br>（2）处理好艺术和展览的关系<br>（3）处理好展览和贸易的关系<br>（4）理好展览设计与展览其他工作的关系
                    </div>
                    <p class="blod tIndent">2.艺术性原则</p>
                    <p class="tIndent">展览设计应当有艺术性。展览设计的艺术性表现在几个方面:</p>
                    <div style="padding-left: 20px;">（1）展台有吸引力<br>（2）展台反映参展企业的形象、传达参展企业的意图<br>（3）展台能吸引参观者的注意，引起他们的参观兴趣
                    </div>
                    <p class="blod tIndent">3.功能性原则</p>
                    <p class="tIndent">
                        展览设计还应当是功能性的，设计人员在考虑设计外部形式、形象时，也需要考虑内在功能，也就是要为展台的人员和展台工作提供良好的环境和条件。因为展出目的的实现最终要靠展台人员，展台人员的工作效率最终决定展出效果。在舒适、功能齐全的环境里，展台人员可以更有效地工作。</p>
                    <p class="blod tIndent">4.科学性原则</p>
                    <p class="tIndent">
                        展览策划是一个创造性的思维活动，但它绝不是随心所欲的，而是具有严谨的科学性。这首先表现在展览策划要遵循一定的程序:在采取展览宣传行动之前，必须对市场形势、消费者态度、社会环境、竞争对手的情况进行周密的调查研究；然后，根据所掌握的资料和信息进行综合分析，找出问题的关键点，确定展览目标，拟定展览计划及其具体实施方案；最后还要对展览效果进行评估，直到实现企业的展览目标和营销目标。</p>
                    <p class="blod tIndent">5.灵活性原则</p>
                    <p class="tIndent">
                        由于竞争日趋激烈，需求水平和结构不断更新，市场环境变化很快。在这种情况下，即便是一个最适当的展览策划，也会因市场环境、约束条件和影响因素的变化而不得不调整。现代展览策划在一方面体现出其科学性的同时，还具有相当的灵活性。这主要归结于在现代展览策划流程不是一个单向的决策流程，而是一个双向的环流状的决策流程。从最开始的展览调研到最后的展览效果评估，针对市场和消费反应的变化，能及时调整和修正其方案，使得整个展览策划活动能保持充分的灵活性。</p>
                </div>
                <div class="BigTitle center" style="margin-top: 50px;"><a>我们的服务</a>
                    <p><span></span></p><em>OUR SERVICE</em></div>
                <img src="../../static/images/ServerFlowImg2.jpg"></div>
        </div>
    </div>
    <div id="sideBar"></div>
    <div id="bottom"></div>
</div>
</body>
<script>
    $("#headBar").load("../headBar/headBar.html");
    $("#sideBar").load("../sideBar/sideBar.html");
    $("#bottom").load("../bottom/bottom.html");
</script>
</html>