<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云鹿会展 - 周边配套</title>
    <meta name="viewport"
          content="width=1200px, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="../../static/images/icon.png">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="aroundGive.css">
    <link rel="stylesheet" href="../headBar/headBar.css">
    <link rel="stylesheet" href="../sideBar/sideBar.css">
    <link rel="stylesheet" href="../bottom/bottom.css">
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="aroundGive.js"></script>
    <script src="../headBar/headBar.js"></script>
    <script src="../sideBar/sideBar.js"></script>
    <script src="../bottom/bottom.js"></script>
</head>
<body>
<div class="wrap">
    <div id="headBar"></div>
    <div class="aroundGive">
        <div class="content"><p>当前位置 :&ensp;<a href="">首页</a> >&ensp;<a href="">周边配套</a></p>
            <div class="HomePage">
                <div class="w1200 ContactUs" style="height: 950px;">
                    <div class="title"><a>周边配套</a></div>
                    <p><span></span></p><em>PERIPHERAL MATCHING</em>
                    <div class="box">
                        <div class="horse">
                            <div class="content logosearch">
                                <div></div>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/food.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>餐饮</d>
                                    <d>名称:好来堡</d>
                                    <d>地点:<span>园区独墅湖高校区学生公寓C区5号楼1F架空层东南部</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/hotel.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>酒店</d>
                                    <d>名称:南苑e家</d>
                                    <d>地点:<span>苏州吴中区仁爱路158号</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/bus.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>交通</d>
                                    <d>名称:地铁/公交</d>
                                    <d>地点:<span>松涛街地铁站地铁2号线,松涛街创苑路公交站 118，120，166等</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/place.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>景点</d>
                                    <d>名称:苏州大学</d>
                                    <d>地点:<span>江苏省苏州市工业园区松涛街(独墅湖校区)南区</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/game.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>娱乐</d>
                                    <d>名称:原力网咖</d>
                                    <d>地点:<span>雪堂街8号文萃广场C109室二楼最西边</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/ktv.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>KTV</d>
                                    <d>名称:巨星KTV</d>
                                    <d>地点:<span>工业园区斜塘独墅湖高教区商业街B1楼(文星广场店)</span></d>
                                </p>
                            </div>
                            <div class="content">
                                <div><img style="width:100%;height:100%;" src="../../static/images/bank.png"
                                          alt="(° △ °|||)图片迷路了"></div>
                                <p class="title">
                                    <d>银行</d>
                                    <d>名称:中国建设银行</d>
                                    <d>地点:<span>江苏省苏州市虎丘区工业园区仁爱路199苏州大学独墅湖校区</span></d>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sideBar"></div>
    <div id="bottom"></div>
</div>
</body>
<script>

    $("#headBar").load("../headBar/headBar.html");
    $("#sideBar").load("../sideBar/sideBar.html");
    $("#bottom").load("../bottom/bottom.html");
</script>
</html>