<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bottom</title></head>
<body>
<div class="bottom">
	<!--<img src="../../static/images/LogoWall.jpg"/>-->
    <div class="container">
        <div class="left">
        	<!--<img src="../../static/images/LogoWall.jpg"/>-->
            <ul class="nav_bar">
                <li>
                    <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/newsList/newsList.html">新闻动态</a>
                </li>
                <li>
                    <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/serveProgram/serveProgram.html">服务流程</a>
                </li>
                <li>
                    <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/showCase/showCase.html">经典案例</a>
                </li>
                <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/aroundGive/aroundGive.html">周边配套</a>
                </li>
                <li>
                    <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/contactUs/contactUs.html">联系我们</a>
                </li>
                <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/aboutUs/aboutUs.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="middle"><p class="title">关于云鹿</p>
            <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;云鹿展览展示（苏州）有限公司是一家致力于苏州展览展示服务，苏州展台设计搭建，苏州展厅设计装潢，全国展览展示设计，展览装饰工程，展位特装制作，展台设计搭建，装修工程搭建，展区设计规划、展位布置装潢、展厅设计装修、特装布展装潢、展位整体设计制作的专业性展览公司，公司为客户提供：企业展厅、品牌展览、博物馆、规划馆、创意展台
                、展台特装搭建、形象展览、多媒体互动展览、科技馆、陈列馆、美陈公司设计与建造；展会特装展台设计及施工；展览会、苏州博览会、苏州展销会，苏州学术会议、商业店面、品牌专柜的设计施工；会议活动、礼仪庆典、巡回展览的策划及实施等服务。
                我们拥有一批高素质的施工团队及各专业设计师和策划团队，并且在上海、南京、无锡、成都等多个地区设有分支机构。云鹿展览与您共同携手，创造未来！
            </div>
        </div>
        <div class="right"><p class="title">联系云鹿</p>
            <div class="contact">
                <div><img src="../../static/images/qr_code.jpg"></div>
                <div><p>电话: 0512-62993018</p>
                    <p>手机: 18014008518(微信）</p>
                    <p>QQ: 513143361</p>
                    <p>E-mail: 513143361@qq.com</p>
                    <p class="address"><span>公司地址:</span></p>
                    <p class="address">苏州工业园区东平街262号</p>
                    <p class="address">超擎大厦三层310室</p>
                    <p></p>
                    <p></p></div>
            </div>
        </div>
        <!--<div class="container">
        	<img style="height: 320px;" src="../../static/images/LogoWall.jpg"/>
        </div>-->
        <p class="character">【云鹿国际会展官网】展览设计和搭建公司，为客户提供一流展览策划整体解决方案</p>
        <p class="character">Copyright © 2018 http://clouddeer-expo.com 云鹿会展 版权所有</p></div>
</div>
</body>
</html>