<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headBar</title></head>
<body>
<div class="headBar">
    <div class="title">
        <div class="title_left fl"><img src="../../static/images/rgbaLogo.jpg"></div>
        <ul class="title_right fr">
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/homePage/homePage.html">首页</a></li>
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/newsList/newsList.html">新闻动态</a>
            </li>
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/serveProgram/serveProgram.html">服务流程</a>
            </li>
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/showCase/showCase.html">经典案例</a>
            </li>
            <li>
                <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/pavilion/pavilionIntroduce.html?type=index">展馆介绍</a>
            </li>
            <li>
                <a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/aroundGive/aroundGive.html">周边配套</a>
            </li>
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/contactUs/contactUs.html">联系我们</a>
            </li>
            <li><a href="http://clouddeer-expo.com/CloudDeer/clouddeer/component/aboutUs/aboutUs.html">关于我们</a></li>
        </ul>
    </div>
</div>
</body>
</html>